<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="weather-background">

    <div class="main-content">
        {{>header}}

        <div class="team">

          <!-- Umang Harlalka -->
          <div class="team_member">
            <div class="portrait team_img">
              <img src="/img/umang.jpeg" alt="Team_image">
            </div>
            <h3>Umang Harlalka</h3>
            <p class="role">1NT18CS211</p>
            <p>We offer school websites, software, apps, design & compliance. All backed up by outstanding support and expert-led training.</p>
            <p>Email: 1nt18cs211.umang@nmit.ac.in</p>
          </div>

          <!-- Ritika Shrestha -->
          <div class="team_member">
            <div class="portrait team_img">
              <img src="/img/ritika.jpeg" alt="Team_image">
            </div>
            <h3>Ritika Shrestha</h3>
            <p class="role">1NT18CS200</p>
            <p>We offer school websites, software, apps, design & compliance. All backed up by outstanding support and expert-led training.</p>
            <p>Email: 1nt18cs200.ritika@nmit.ac.in</p>
          </div>

          <!-- Anand Jaiswal -->
          <div class="team_member">
            <div class="portrait team_img">
              <img src="/img/anand.jpeg" alt="Team_image">
            </div>
            <h3>Anand Jaiswal</h3>
            <p class="role">1NT18CS190</p>
            <p>We offer school websites, software, apps, design & compliance. All backed up by outstanding support and expert-led training.</p>
            <p>Email: 1nt18cs190.anand@nmit.ac.in</p>
          </div>
        </div>
        {{!-- <p>This is the page created for the wether application please provide your address in search bar to fetch its weather condition...</p> --}}
        {{>footer}}
    </div>
</div>
</body>

</html>